<div
  class="py-20 bg-cover bg-center bg-image md:h-screen flex justify-center items-center text-center"
  style="background-image: url('https://images.pexels.com/photos/4753893/pexels-photo-4753893.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
>
  <div class="container mx-auto px-4 py-4">
    <h1 class="text-4xl md:text-6xl text-white font-bold mb-4 leading-tight">
      Transforma tu cuerpo
    </h1>
    <h1 class="text-4xl md:text-6xl text-white font-bold mb-4 leading-tight">
      y tu mente
    </h1>
    <h2 class="text-4xl text-slate-200 font-semibold mb-4 leading-tight">
      ¡Empieza tu viaje hoy mismo!
    </h2>
    <p
      class="text-white text-xl mt-10 mb-8 md:w-1/2 md:mx-auto leading-relaxed"
    >
      ¡Únete a nosotros para experimentar una transformación total de tu vida!
      Nuestros entrenadores expertos te guiarán en cada paso del camino.
    </p>
    <button
      class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600"
      >Reserva tu clase gratis</button
    >
  </div>
</div>

<style>
  .full-height {
    height: calc(100vh); /* Restar la altura de la barra de navegación */
    background-image: url("https://images.pexels.com/photos/3112004/pexels-photo-3112004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
  }
</style>
