<div id="planes" class="container mx-auto">
  <h1 class="text-4xl md:text-5xl font-bold mb-20 text-center mt-8">
    Nuestros Planes
  </h1>
  <div class="flex flex-col md:flex-row justify-center items-center">
    <!-- Plan Básico -->
    <div class="md:w-1/3 px-4 mb-8">
      <div
        class="bg-white shadow-slate-400 rounded-lg shadow-lg p-6 text-center"
      >
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Básico</h2>
        <p class="text-2xl font-bold text-gray-900 mb-4">$9.99/mes</p>
        <ul class="text-sm text-left mb-6">
          <li class="mb-2">Asesoramiento Nutricional</li>
          <li class="mb-2">Entrenamiento</li>
          <li class="mb-2">Acceso a una amplia gama de equipos</li>
          <li class="mb-2">Sesiones diseñadas para mejorar la fuerza</li>
          <li class="mb-2">Clases de Acondicionamiento Físico</li>
        </ul>
        <a
          href="#"
          class="block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
          >Seleccionar</a
        >
      </div>
    </div>
    <!-- Plan Estándar -->
    <div class="w-full md:w-1/3 px-4 mb-8">
      <div
        class="bg-white rounded-lg shadow-lg p-6 text-center shadow-slate-400"
      >
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Estándar</h2>
        <p class="text-2xl font-bold text-gray-900 mb-4">$19.99/mes</p>
        <ul class="text-sm text-left mb-6">
          <li class="mb-2">Entrenamiento Personalizado</li>
          <li class="mb-2">Asesoramiento Nutricional</li>
          <li class="mb-2">Programas de Pérdida de Peso</li>
          <li class="mb-2">Eventos y Talleres Especiales</li>
        </ul>
        <a
          href="#"
          class="block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
          >Seleccionar</a
        >
      </div>
    </div>
    <!-- Plan Premium -->
    <div class="w-full md:w-1/3 px-4 mb-8">
      <div
        class="bg-white rounded-lg shadow-lg p-6 text-center shadow-slate-400"
      >
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Premium</h2>
        <p class="text-2xl font-bold text-gray-900 mb-4">$29.99/mes</p>
        <ul class="text-sm text-left mb-6">
          <li class="mb-2">Entrenamiento Personalizado</li>
          <li class="mb-2">Monitoreo de Progreso</li>
          <li class="mb-2">Asesoramiento Nutricional</li>
          <li class="mb-2">Clases Grupales</li>
          <li class="mb-2">Servicios Adicionales</li>
        </ul>
        <a
          href="#"
          class="block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
          >Seleccionar</a
        >
      </div>
    </div>
  </div>
</div>
