<div
  id="servicios"
  class="container mx-auto p-6 h-auto lg:h-screen flex justify-center items-center"
>
  <div class="text-center">
    <h1 class="text-4xl md:text-6xl font-bold mb-20">Servicios</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Primer servicio -->
      <div class="border rounded-lg overflow-hidden">
        <img
          src="https://images.pexels.com/photos/3838389/pexels-photo-3838389.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Servicio 1"
          class="w-full h-48 object-cover"
        />
        <h3 class="text-xl font-bold p-4">Área de Musculación</h3>
      </div>
      <!-- Segundo servicio -->
      <div class="border rounded-lg overflow-hidden">
        <img
          src="https://images.pexels.com/photos/19254708/pexels-photo-19254708/free-photo-of-hombre-deporte-fitnes-fitness.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Servicio 2"
          class="w-full h-48 object-cover"
        />
        <h3 class="text-xl font-bold p-4">Zona Cardiovascular</h3>
      </div>
      <!-- Tercer servicio -->
      <div class="border rounded-lg overflow-hidden">
        <img
          src="https://images.pexels.com/photos/9944643/pexels-photo-9944643.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Servicio 3"
          class="w-full h-48 object-cover"
        />
        <h3 class="text-xl font-bold p-4">Área de Boxeo y Artes Marciales</h3>
      </div>
      <!-- Cuarto servicio -->
      <div class="border rounded-lg overflow-hidden">
        <img
          src="https://images.pexels.com/photos/73760/swimming-swimmer-female-race-73760.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Servicio 4"
          class="w-full h-48 object-cover"
        />
        <h3 class="text-xl font-bold p-4">Zona de Piscina</h3>
      </div>
    </div>
  </div>
</div>
