<div
  id="testimonios"
  class="container h-auto mx-auto lg:h-screen py-4 flex justify-center items-center"
>
  <div class="text-center">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Testimonios</h1>
    <p class="w-9/12 mx-auto mb-8 mt-8">
      Mi nombre es Juan y quiero compartir mi experiencia increíble con este
      gimnasio. Durante años, luché con mi peso y mi salud. Me sentía cansado,
      sin energía y no estaba contento con mi apariencia física. Decidí que
      necesitaba hacer un cambio, así que me uní a este gimnasio con la
      esperanza de mejorar mi condición física.
    </p>
    <div class="flex flex-col items-center">
      <div class="rounded-full overflow-hidden w-48 h-48 mb-4">
        <img
          src="https://images.pexels.com/photos/2204179/pexels-photo-2204179.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Persona"
          class="w-full h-full object-cover"
        />
      </div>
      <p class="text-xl font-bold">Juan Alberto</p>
      <p class="text-gray-600">Boxeador</p>
    </div>
  </div>
</div>
